{{ "<!-- learning Grid Section -->" | safeHTML }}
<section id="learning" class="bg-light-gray">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.learning.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.learning.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div> -->
        <div class="row " >
            <div class="container col-md-4">
              <div class="jumbotron "  >
                  <h3 class="page-header">Computer Engineering</h3>
                  </br></br>
                  <div class="well">
                    <h4>First Year</h4>
                    <ul>
                      <li>
                        <h5>FPL</h5>
                      </li>
                    </ul>

                  </div>
                  <div class="well">
                    <h4>Second Year</h4>
                      <ul>
                        <li><h5> Discrete Structure </h5></li>
                        <li><h5> Data Structure and Algorithm (DSA) </h5></li>
                        <li><h5> Digital Electronics and Logic Design (DELD) </h5></li>
                        <li><h5> Object Oriented Programming (OOP) </h5></li>
                      </ul>
                  </div>
                  <div class="well">
                    <h4>Third Year</h4>
                      <ul>
                        <li><h5> Theory oc Computation (TOC) </h5></li>
                        <li><h5> DMSA </h5></li>
                      </ul>
                  </div>
                  <div class="well">
                    <h4>Fourth year</h4>
                      <ul>
                        <li><h5> Design and Analysis of Algorithms (DAA)</h5></li>

                      </ul>
                  </div>

              </div>

            </div>

            <div class="container col-md-4">


            <div class="jumbotron  "  >
              <h3>Diploma (Computer)</h3>
              </br></br>
              <div class="well">
                <h4>First Year</h4>
                <ul>
                  <li>
                    <h5>Basic Mathematics</h5>
                  </li>
                  <li>
                    <h5>Computer Fundamentals</h5>
                  </li>
                </ul>

              </div>
              <div class="well">
                <h4>Second Year</h4>
                  <ul>
                    <li><h5> Applied Mathematics </h5></li>
                    <li><h5> Data Structure Using C </h5></li>
                    <li><h5> Relational Database Management System  </h5></li>
                    <li><h5> Digital Techniques </h5></li>
                    <li><h5> Graphical User Interface (GUI) Programming </h5></li>
                  </ul>
              </div>
              <div class="well">
                <h4>Third Year</h4>
                  <ul>
                    <li><h5> Software Engineering  </h5></li>
                    <li><h5> Java Programming </h5></li>
                    <li><h5> Computer Security </h5></li>
                    <li><h5> Operating System </h5></li>
                    <li><h5> Data Base Management </h5></li>

                  </ul>
              </div>
            </div>
              </div>
            <div class="container col-md-4">


            <div class="jumbotron  " >

                <h3>Programming languages</h3>
                </br></br>
                <div class="well">
                <ul>
                  <li><h5>C Language</h5></li>
                  <li><h5>C++</h5></li>
                  <li><h5>Core and Advance Java</h5></li>
                  <li><h5>MySql database</h5></li>
                  <li><h5>Matlab</h5></li>
                  <li><h5>Network Simulator 2</h5></li>
                </ul>
              </div>

            </div>
            </div>
        </div>
    </div>
</section>
